body {
	background: linear-gradient(#45BDF0, #3EE993);
	background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#typography h1 {
  color: white;
  padding: 20px;
  margin: 0;
  width: auto;
  float: left;
  text-decoration: none;
  font-weight: normal;
  font-style: none;
}

.navbar {
  font-family: "museo-sans", "museo sans", sans-serif; /*TypeKit says to use "museo-sans" but only "museo sans" works on my computer, so included both as a precaution*/
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  margin: 10px auto 0 auto;
  text-align: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.navbar li {
  /*float: left;*/
  display: inline;
}

.navbar li a {
  /*display: inline-block;*/
  text-decoration: none;
  /*width: 88px;*/
  color: white;
  text-align: center;
  /*padding: 8px 20px;*/
  margin: 0 20px;
  position: relative;
}

.navbar li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.2s;
}

.navbar li a:hover:after {
  width: 100%;
}

.logo h1 {
	font-family: "museo", serif;
	font-size: 48px;
	color: white;
	text-align: center;
	margin: 65px auto 0 auto;
	font-weight: 700;
}

.logo h1 a {
  text-decoration: none;
  color: white;
  display: block;
}

.navbar_footer {
  /*height: 50px;*/
  width: 100%;
  /*background-color: #3EE993;*/
  /*background-color: #45BDF0;*/
  background-color: rgba(0, 0, 0, .25);
  position: fixed;
  bottom: 0px;
  font-family: "museo-sans", "museo sans", sans-serif; /*TypeKit says to use "museo-sans" but only "museo sans" works on my computer, so included both as a precaution*/
  font-size: 18px;
  font-weight: 300;
  list-style: none;
}

.navbar_footer ul {
  margin: 0;
  padding: 19px 40px 0 0;
  overflow: hidden;
  list-style: none;
  float: right;
}

.navbar_footer li {
  /*float: left;*/
  display: inline;
}

.navbar_footer li a {
  /*display: inline-block;*/
  text-decoration: none;
  /*width: 88px;*/
  color: white;
  text-align: center;
  /*padding: 8px 20px;*/
  margin: 0 20px;
  position: relative;
}

.navbar_footer li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.2s;
}

.navbar_footer li a:hover:after {
  width: 100%;
}

.navbar_footer .logo h1 {
  margin: 0;
  padding: 10px 20px 10px 40px;
  font-size: 32px;
  float: left;
  font-family: "museo", serif;
}



.content {
	background-color: rgba(0, 0, 0, .25);
	border-top-color: #3EE993;
	border-top-style: solid;
	border-top-width: 4px;
	width: 430px;
  /*width: 700px;*/
	height: 496px;
	margin: 65px auto auto auto;
}

#main_form {
  font-family: "museo-sans", "museo sans", sans-serif;
}

input[type="text"] {
  display: block;
  margin: 60px auto 0 auto;
  padding: 10px 10px 10px 14px;
  width: 192px;
  /*font-family: "museo-sans", sans-serif;*/
  font-size: 18px;
  font-weight: 300;
  appearance: none;
  box-shadow: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #3EE993;
  color: #3EE993;
}

input[type="text"]:valid {
  transition: 0.2s;
  border-color: #45BDF0;
  color: #45BDF0;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:focus:invalid {
  transition: 0.2s;
  border-color: #DE2020;
  color: #DE2020;
}

#inv_message {
  font-size: 14px;
  color: #DE2020;
  text-align: center; 
  padding: 8px 0 0 0;
  position: absolute;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  background: white;
  padding: 10px 0 0 0;
  width: 40px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  color: #3EE993;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #3EE993;
  cursor: pointer;
  transition: 0.2s;
}

input[type="checkbox"]:checked + label {
  transition: 0.2s;
  border-bottom-color: #45BDF0;
  color: #45BDF0;
}

input[name="boldin"] + label {
  margin-right: 50px;
  font-weight: 700;
  float: left;
}

input[name="italicin"] + label {
  margin-right: 50px;
  font-weight: 300;
  font-style: italic;
  float: left;
}

input[name="underlinein"] + label {
  font-weight: 300;
  float: left;
  text-decoration: underline;
}

.input_container {
  margin: 40px auto 0 auto;
  width: 220px;
}

/*Custom Select Menu Plugin from here https://github.com/derekpcollins/jquery-custom-select-menu/blob/master/README.md*/

.custom-select-menu {
  background-color: white;
  display: block;
  margin: 40px 0 0 0;
  width: 192px;
  font-size: 18px;
  font-weight: 300;
  appearance: none;
  box-shadow: none;
  color: #A6A6A6;
}

.custom-select-menu label:hover {
  cursor: pointer;
}

.custom-select-menu label {
  /*color: #3EE993;*/
  background-color: white;
  display: block;
  padding: 10px 10px 10px 14px;
  border-left: 4px solid #3EE993;
  /* Prevents text-selection on the label. */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  user-select: none;
  /* We're giving the label a specific width. 
  Don't forget to set a width for the list of options
  as well (see below). */
  width: 192px;
  position: relative;
}

.custom-select-menu label.selection-made {
  transition: 0.2s;
  color: #45BDF0; 
  border-color: #45BDF0;
  position: relative;
}

.custom-select-menu label.selection-made:after {
  content: url(../img/arrow_blue.png);
}

.custom-select-menu label:after {
  content: url(../img/arrow_green.png);
  float: right;
  margin-right: 4px;
  transition: transform 0.2s ease
}

.custom-select-menu label.opened:after {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.custom-select-menu label.selection-made.opened:after {
  content: url(../img/arrow_blue.png);
}

.custom-select-menu:focus {
  outline: none;
}

.custom-select-menu ul {
  background: white;
  color: #3EE993;
  list-style: none;
  padding-left: 0;
  margin: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll; /* Allow it to scroll vertically. */
  width: 220px; /* Set a width equal to the label. */
  z-index: 2;
  position: absolute;
  clear: both;
}

.custom-select-menu  li {
  background-color: white;
  cursor: pointer;
  padding: 10px 10px 10px 18px;
  color: #A6A6A6;
}

.custom-select-menu li:hover {
  border-left: 4px solid #3EE993;
  padding-left: 14px;
  color: #3EE993;
}

.custom-select-menu .selected {
  border-left: 4px solid #45BDF0;
  padding-left: 14px;
  color: #45BDF0;
}

/*Range styling from http://www.cssportal.com/style-input-range/*/

input[type="range"] {
  -webkit-appearance: none;
  margin: 58px auto 58px auto;
  width: 180px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3EE993;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;
}

input[type="range"]:active::-webkit-slider-thumb{
  background: #45BDF0;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3EE993;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3EE993;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb{
  background: #45BDF0;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #3EE993;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #3EE993;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type="range"]:active::-ms-thumb{
  background: #45BDF0;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3EE993;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #3EE993;
}

#smallA {
  margin: 50px 0 0 0;
  float: left;
  /*font-family: "museo-sans", sans-serif;*/
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding-right: 5px;
}

#bigA {
  margin: 47px 0 0 0;
  float: right;
  /*font-family: "museo-sans", sans-serif;*/
  color: white;
  font-weight: 300;
  font-size: 24px;
}

input[type="submit"] {
  border: none;
  display: block;
  text-decoration: none;
  color: white;
  width: 166px;
  padding: 9px 0 9px 0;
  background-color: #3EE993;
  margin: 20px auto 0 auto;
  font-family: "museo-sans", "museo sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.2s;
  background-color: #45BDF0;
}

input[type="submit"]:focus {
  outline: none;
}

.try {
  display: block;
  text-decoration: none;
  color: white;
  width: 166px;
  padding: 9px 0 9px 0;
  background-color: #3EE993;
  margin: 40px auto 0 auto;
  font-family: "museo-sans", "museo sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  transition: 0.2s;
}

.try:hover {
  transition: 0.2s;
  background-color: #45BDF0;
}

#about_content h2 {
  font-family: "museo", serif;
  color: white;
  font-size: 36px;
  font-weight: 500;
  margin: 92px auto 0 auto;
  text-align: center;
}

#about_text {
  font-family: "museo-sans", "museo sans", sans-serif;
  font-size: 16px;
  margin: 48px 80px 60px 80px;
  color: white;
  text-align: justify;
}

@media only screen and (max-width: 728px) {
  #nav_wrap {
    width: 380px;
    margin: 0 auto 0 auto;
    float: none;
    padding: 0;
  }

  .navbar_footer .logo h1 {
    float: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar_footer ul {
    width: auto;
    margin: 0 51px 0 51px;
    float: none;
    padding: 0 0 10px 0;
  }

  .navbar_footer li {
    display: inline;
  }
}

@media only screen and (max-width: 589px) {
  #header_wrap .logo h1 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 519px) {
  #header_wrap .logo h1 {
    font-size: 38px;
  }
}

@media only screen and (max-width: 484px) {
  #header_wrap .logo h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 429px) {
  #header_wrap .logo h1 {
    font-size: 32px;
  }

  .content {
    width: 380px;
  }
}